.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: auto;
  border: 1px solid black;
  margin: 25px;
  height: 500px;
  background-image: url(../../assets/Imagenes/1.jpg);
  background-size: cover;
  background-position: center;
}
