.card {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 250px;
  height: 125px;
  color: black;
  margin: 10px;
}

h1 {
  height: 40px;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}

h2 {
  height: 40px;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}
